{% extends 'base.html' %}
{% load static %}

    


{% block title %}
About
{% endblock %}


{% block content %}

<div class="" style="min-height: 550px; width: 100%; opacity: 0.9;">
	<div id="">
		<div class="row">
			<div class="col-md-2"></div>

			<div class="col-md-8 justify-content-center align-items-center text-center mt-5">
				  <div class="">
				  	<h1 class="text-danger">About Us.</h4>
				    <h4 class="text-warning">Learn what we do. Your best choice</h3>
				    <p class="text-gray-dark text-justify">The Big Bang theory is a cosmological model of the observable universe from the earliest known periods through its subsequent large-scale evolution. The model describes how the universe expanded from an initial state of extremely high density and high temperature,[4] and offers a comprehensive explanation for a broad range of observed phenomena, including the abundance of light elements, the cosmic microwave background (CMB) radiation, and large-scale structure.</p>

				    <div class="row " style="margin-top:60px;">

				    	<div class="col-md-3">
				    		<a href="#" class="btn btn-outline-danger" style="margin-top: 50px;">Send Feedback</a> 
				    	</div>

				    	<div class="col-md-5 mx-1">
				    		<div class="row justify-content-center">
				    			<h5>Our Goal</h5>
				    			<p class="text-justify">The model describes how the universe expanded from an initial state of extremely high density and high temperature,[4] and offers a comprehensive explanation for a broad range of observed phenomena, including the abundance</p>
				    		</div>
				    		<div class="row justify-content-center" style="margin-top: 50px; margin-bottom: 30px;">
				    			<h5>Team Work</h5>
				    			<p class="text-justify">The model describes how the universe expanded from an initial state of extremely high density and high temperature,[4] and offers a comprehensive explanation for a broad range of observed phenomena, including the abundance</p>
				    		</div>
				    	</div>

				    	<div class="col-md-3">
				    		<a href="#" class="btn btn-outline-danger" style="margin-top: 50px; ">Our Linkedin Profile</a>
				    	</div>
				    </div>

				  </div>
			</div>

			<div class="col-md-2"></div>
		</div>
	</div>
</div>

{% endblock %}