{% extends 'base.html' %}
{% load static %}

    


{% block title %}
About
{% endblock %}


{% block content %}

<div class="" style="min-height: 550px; width: 100%; opacity: 0.9;">
	<div class="row justify-content-center text-center">
		<div class="col-md-8 mt-5">
		  	<h1 class="text-danger">Career With Us</h4>
		    <h4 class="text-warning">Build your bright future with us.</h3><hr>
		    <p class="text-gray-dark text-justify">The Big Bang theory is a cosmological model of the observable universe from the earliest known periods through its subsequent large-scale evolution. The model describes how the universe expanded from an initial state of extremely high density and high temperature,[4] and offers a comprehensive explanation for a broad range of observed phenomena, including the abundance of light elements, the cosmic microwave background (CMB) radiation, and large-scale structure.</p>
		    <div class="row justify-content-center my-5">
		    	<div class="col-md-6">
		    		<a class="btn btn-outline-info" href="#">Apply Now</a>
		    	</div>	   		
		    </div>
		</div>
	</div>
</div>

{% endblock %}
