 {% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i>[COVID-19-School]</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'curriculum:standard_list' %}">Curriculum</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'career' %}">Career</a>
        </li>
      </ul>

      <div class="float-right justify-content-end" style="margin-left: 200px;">
          <form action="" method="GET">
            <input type="text" name="keyword" placeholder="Search here..." required>
            <button class="btn btn-primary btn-sm">Search</button>
          </form>
      </div>

    </div>

    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mx-2">
        {% if user.is_superuser %}
         <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Admin Activity</a>
          </li>
        {% endif %}

         {% if request.user.is_authenticated %}
          <li class="nav-item mt-2">
            <i><b class="text-light mx-3">hello! {{request.user.username}}</b></i>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'user_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
     </div>
  </div>
</nav>

